<div class="header-component">
    <nav class="navbar">
        <ul class="nav-list">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/inventory" routerLinkActive="active">Inventory</a></li>
            <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
            <li><a routerLink="/quests" routerLinkActive="active">Quests</a></li>
            <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
        </ul>
    </nav>
</div>