/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(120deg, #2d1e2f 0%, #4b2e83 100%);
  color: #fffbe6;
  min-height: 100vh;
  margin: 0;
  font-family: 'UnifrakturCook', 'Pirata One', 'Cinzel', serif;
}